    argparse>=1.1
    matplotlib>=2.1.0
    scipy>=0.19.1
    bottleneck>=1.2.1
    pp>=1.6.5
    pandas>=0.22
    numpy>=1.14.0
    toolz>=0.9.0
    scipy-sugar>=1.0.4
    limix>=1.0.12
    limix-legacy>=0.8.12
